{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 80,
    "tabWidth": 2,
    "importOrder": [
      "^react",
      "^@?\\w",
      "^@/components",
      "^@/hooks",
      "^@/utils",
      "^@/styles",
      "^\\u0000"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
  }
  